[package]
name = "maw"
version = "0.11.1"
edition = "2024"
description = "A simple and efficient web framework for Rust."
license = "MIT"
repository = "https://github.com/Srlion/maw"
authors = ["Srlion <srlion32@gmail.com>"]

[features]
default = []
cookie = ["dep:cookie"]
session = ["cookie", "serde/derive"]
logging = []

[dependencies]
matchit = "0.9"
mime_guess = "2"
smol_str = "0.3"
serde_urlencoded = "0.7"
backtrace = "0.3"
http-body-util = "0.1"
tracing = "0.1"
bytes = "1"
thiserror = "2"
tokio = { version = "1", features = ["macros", "signal", "net"] }
http = "1"
serde = { version = "1", features = [] }
hyper = { version = "1", features = [] }
hyper-util = { version = "0.1", features = [
    "server",
    "server-graceful",
    "http1",
] }
paste = "1"
async-trait = "0.1"
minijinja = { version = "2", features = ["loader"] }
serde_json = "1"
quick-xml = { version = "0.38", features = ["serialize"] }
erased-serde = "0.4"
cookie = { version = "0.18", features = ["private", "signed"], optional = true }
